.d-hide{
  display: none;
}

.d-flex{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.d-block{
display: block;
}

.bg-color{
  background-color: black;
}


.accesa{
  transform: scaleX(-1);
}

.lampadario{
  max-width: 100%;
  align-items: center;
}

.container{
  width: 1100px;
  margin: 0 auto; 
  border: 1px solid black; 
  border-radius: 10px;
}


